@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: medium;
}

:root {
  --primary-color: #D6BD98;
  --primary-color-dark: #021526;
  --text-dark: #333333;
  --text-light: #767268;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Bebas Neue", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: flex;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav_header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav_logo a {
  font-size: 1.75rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.nav_menu_btn {
  font-size: 1.5rem;
  color: var(--text-dark);
  cursor: pointer;
}

.nav_links {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav_links.open {
  transform: translateY(0);
}

.nav_links a {
  font-weight: 500;
  color: var(--text-dark);
}

.nav_links a:hover {
  color: #6EACDA;
}

.nav_btns {
  display: none;
}

.dropdown {
  position: relative;
}

.dropdown_menu {
  display: none;
  position: absolute;
  top: 100%;
  left: -125%;
  background-color: var(--white);
  /* Mengubah latar belakang menjadi putih */
  list-style: none;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  border-radius: 5px;
  /* Menambahkan border radius untuk tampilan yang lebih halus */
}

.dropdown_menu li {
  margin-bottom: 0.5rem;
}

.dropdown_menu li:last-child {
  margin-bottom: 0;
}

.dropdown_menu a {
  color: var(--text-dark);
  font-weight: 400;
  text-decoration: none;
  padding: 0.75rem 1rem;
  display: block;
  transition: color 0.3s;
  white-space: nowrap;
  /* Mencegah teks membungkus */
}

.dropdown_menu a:hover {
  color: var(--primary-color-dark);
  /* Warna teks berubah saat dihover */
}

.dropdown:hover .dropdown_menu {
  display: block;
}

.header_container {
  max-width: var(--max-width);
  margin: auto;
  padding-block: 8rem 2rem;
  padding-inline: 1rem;
  display: grid;
  gap: 2rem;
  overflow-x: hidden;
}

.header_image {
  position: relative;
  isolation: isolate;
}

.header_image::before {
  position: absolute;
  content: "";
  width: 100%;
  max-width: 550px;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("assets/header-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100%;
  opacity: 0.5;
  z-index: -1;
}

.header_image img {
  max-width: 520px;
  margin-right: 40rem;
}

.header_image_card {
  position: absolute;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-dark);
  background-color: var(--white);
  white-space: nowrap;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header_image_card span {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.header_image_card-1 {
  top: 25%;
  left: 1rem;
  transform: translate(-50%, -50%);
}

.header_image_card-2 {
  top: 5%;
  left: 28rem;
  transform: translateY(-50%, );
}

.header_image_card-3 {
  top: 80%;
  left: -3rem;
  transform: translateY(-50%);
}

.header_image_card-4 {
  top: 90%;
  right: 0;
  transform: translateY(-50%);
}

.header_content h1 {
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--text-dark);
  line-height: 5.5rem;
  text-align: center;
}

.header_content h1 span {
  color: var(--primary-color);
}

.header_content p {
  margin-bottom: 2rem;
  columns: var(--text-light);
  line-height: 1.75rem;
  text-align: center;
}

.header_content form {
  margin-bottom: 4rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem 0;
  border-radius: calc(1rem + 10px);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.header_content .input_row {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.header_content .input_group {
  flex: 1;
}

.header_content .input_group h5 {
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-light);
}

.header_content .input_group>div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header_content input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  background-color: transparent;
}

.header_content input::placeholder {
  font-weight: 600;
  color: var(--text-dark);
}

.header_content .input_group span {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--primary-color);
}

.header_content button {
  width: 100%;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.header_content button:hover {
  background-color: var(--primary-color-dark);
}

.header_content .bar {
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}

.form_container {
  margin: auto;
  margin-top: 20px;
  max-width: var(--max-width);
  display: flex;
  background-color: #f8f4f1;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

/* .form-section {
  background-color: #e6e6e6;
  padding: 20px;
  text-align: center;
  flex: 1;
} */

.form-section img {
  max-width: 300px;
  margin-top: 230px;
  margin-left: 8rem;
}

.form-section {
  background-color: var(--primary-color);
  padding: 30px;
  flex: 2;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--primary-color-dark);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 14px;
}

.submit-btn {
  background-color: var(--primary-color-dark);
  color: var(--white);
  margin-top: 2rem;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.submit-btn:hover {
  background-color: #982B1C;
}

/* Styling for the button */
.animated-button {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  backgrou982B1Cnd-color: #007bff;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect */
.animated-button:hover {
  background-color: var(--primary-color);
}

/* Overlay for the drop-down effect */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--primary-color);
  transition: height 0.5s ease, opacity 0.5s ease;
  z-index: 10;
  /* Ensure it appears above all other content */
  opacity: 0;
}

/* When active, expand the overlay to cover the viewport */
.overlay.active {
  height: 100vh;
  opacity: 1;
}

/* Optional button clicked animation */
.animated-button.clicked {
  animation: clickAnimation 0.5s forwards;
}

.content {
  padding: 50px 20px;
  text-align: center;
}

.logo-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.logo {
  width: 250px;
  margin-right: 40px;
  margin-bottom: 2rem;
  margin-left: -100px;
  border-radius: 10px;
}

.text-container {
  max-width: 600px;
  text-align: justify;
  margin-left: 50px;
}

.text-container h1 {
  font-size: 36px;
  color: #3d2d24;
  margin-bottom: 20px;
  margin-left: 40px;
}

.text-container p {
  font-size: 18px;
  color: #3d2d24;
  line-height: 1.6;
  margin-bottom: 20px;
  margin-left: 40px;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-left: 10px;
}

.stat {
  text-align: center;
}

.stat h2 {
  font-size: 48px;
  margin: 0;
}

.stat p {
  font-size: 18px;
  margin: 5px 0 0;
}

.contact-section {
  max-width: var(--max-width);
  text-align: center;
  margin: auto;
  margin-left: 200px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 1200px;
  overflow-x: hidden;
}

.contact-section h1 {
  margin-bottom: 40px;
}

.contact-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.map-container {
  flex: 2;
  border: 1px solid #ddd;
  max-width: 600px;
}

.contact-info {
  flex: 1;
  text-align: left;
  margin-top: 0;
  padding-left: 20px;
  margin-left: 30px;
}

.contact-info p {
  margin: 10px 0;
  text-align: left;
  font-size: 20px;
  line-height: 2.4;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;

}

.text-container p {
  color: #3d2d24;
  margin-bottom: 20px;
  margin-left: 40px;
}


@keyframes clickAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@media (width > 768px) {
  nav {
    position: relative;
    padding-block: 2rem 0;
    padding-inline: 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .dropdown_menu {
    position: absolute;
    top: calc(100% + 10px);
    left: -125%;
    padding: 1rem;
    background-color: var(--primary-color);
    /* Latar belakang dropdown tetap putih */
    border-radius: 5px;
  }

  .dropdown_menu li a {
    padding: 0.75rem 1rem;
    display: block;
    color: var(--text-dark);
    white-space: nowrap;
    /* Mencegah teks membungkus */
  }

  .dropdown_menu li a:hover {
    color: var(--primary-color-dark);
    /* Warna teks berubah saat dihover */
  }

  .nav_header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav_logo a {
    color: var(--text-dark);
  }

  .nav_logo a span {
    color: var(--primary-color);
  }

  .nav_menu_btn {
    display: none;
  }

  .nav_links {
    position: static;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  }

  .nav_links a {
    padding-block: 5px;
    color: var(--text-dark);
    border-bottom: 4px solid transparent;
  }

  .nav_links a:hover {
    border-color: var(--primary-color);
  }

  .nav_btns {
    display: flex;
    flex: 1;
  }

  .nav_btns .btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }

  .sign_up {
    color: var(--text-dark);
    background-color: transparent;
  }

  .sign_up:hover {
    color: var(--primary-color);
  }

  .sign_in {
    color: var(--white);
    background-color: var(--primary-color);
  }

  .sign_in:hover {
    color: var(--primary-color-dark);
  }

  .header_container {
    padding-block: 2rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .header_image {
    grid-area: 1/2/2/3;
  }

  .header_content :is(h1, p, .bar) {
    text-align: left;
  }
}

@media (width > 1024px) {
  .header_content form {
    flex-direction: row;
    width: fit-content;
  }

  .header_content button {
    width: fit-content;
  }
}

@media (width <768px) {
  .header_container {
    max-width: var(--max-width);
    margin: auto;
    padding-block: 8rem 2rem;
    padding-inline: 1rem;
    display: grid;
    gap: 2rem;
    overflow-x: hidden;
  }

  .header_image {
    position: relative;
    isolation: isolate;
  }

  .header_image img {
    max-width: 520px;
    margin-right: 40rem;
    transform: translate(10%);
  }

  .header_image_card {
    position: absolute;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-dark);
    background-color: var(--white);
    white-space: nowrap;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .header_image_card span {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
  }

  .header_image_card-1 {
    top: 20%;
    left: 120px;
    top: 10rem;
    transform: translate(-50%, -50%);
  }

  .header_image_card-2 {
    top: 10%;
    left: 31rem;
    transform: translateY(-50%, );
  }

  .header_image_card-3 {
    top: 80%;
    left: 1rem;
    transform: translateY(-50%);
  }

  .header_image_card-4 {
    top: 90%;
    right: 2rem;
    transform: translateY(-50%);
  }

  .form_container {
    margin: auto;
    max-width: var(--max-width);
    display: flex;
    background-color: #f8f4f1;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
  }

  .form-section {
    background-color: #e6e6e6;
    padding: 20px;
    margin-top: 65px;
    text-align: center;
    flex: 1;
  }

  .form-section img {
    max-width: 300px;
    margin-top: 230px;
    margin-left: 1.5rem;
  }

  .form-section {
    background-color: var(--primary-color);
    padding: 30px;
    flex: 2;
    position: relative;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #5c4033;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
  }

  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
  }

  .submit-btn {
    background-color: var(--primary-color-dark);
    color: white;
    margin-top: 2rem;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
  }

  .submit-btn:hover {
    color: var(--white);
  }

  .content {
    margin: auto;
    max-width: var(--max-width);
    padding: 50px 20px;
    text-align: center;
  }

  .logo-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .logo {
    position: relative;
    width: 250px;
    margin-bottom: 2rem;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 10px;
  }

  .text-container {
    max-width: 600px;
    text-align: justify;
    margin-top: 20px;
    margin-left: 0px;
  }

  .text-container h1 {
    font-size: 36px;
    text-align: center;
    color: #3d2d24;
    margin-bottom: 20px;
  }

  .text-container p {
    font-size: 18px;
    color: #3d2d24;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  .stats {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }

  .stat {
    text-align: center;
  }

  .stat h2 {
    font-size: 48px;
    margin: 0;
  }

  .stat p {
    font-size: 18px;
    margin: 5px 0 0;
  }
}